@import "../node_modules/scss-reset/src/scss/_reset.scss";
@import "components";

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
	@media screen and(min-width:768px) {
		font-size: 75%;
	}
}
body {
	background-color: var(--mode-background);
	min-height: 100vw;
	width: 100%;
	transition: all 350ms;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	font-family: inherit;
	box-sizing: inherit;
}

$theme-light: url(/design/icon-sun.svg);
$theme-dark: url(/design/icon-moon.svg);

$dark-mode-elements: hsl(209, 23%, 22%);
$dark-mode-background: hsl(207, 26%, 17%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);
$light-mode-background: hsl(0, 0%, 98%);
$dark-mode-text-white-mode-elements: hsl(0, 0%, 100%);

:root {
	--btn-switch: #{$theme-light};
	--mode-elements: #{$dark-mode-elements};
	--mode-background: #{$dark-mode-background};
	--mode-text: #{$dark-mode-text-white-mode-elements};
	--mode-input: #{$light-mode-input};
}

.light {
	--btn-switch: #{$theme-dark};
	--mode-elements: #{$dark-mode-text-white-mode-elements};
	--mode-background: #{$light-mode-background};
	--mode-text: #{$light-mode-text};
	--mode-input: #{$light-mode-input};
}

.wrap-container {
	width: 90vw;
	margin: 0 auto;
}

.header {
	position: fixed;
	top: 0;
	z-index: 99;
	min-height: 80px;
	background-color: var(--mode-elements);
	display: flex;
	align-items: center;
	color: var(--mode-text);
	width: 100%;

	.title {
		cursor: pointer;
		font-size: 2rem;
		margin-left: 5.5rem;
	}

	.toggler {
		margin-left: auto;
		margin-right: 5.5rem;
		display: flex;
		align-items: center;
		cursor: pointer;

		&__image {
			background: transparent;
			background-image: var(--btn-switch);
			background-repeat: no-repeat;
			background-position: center;
			transition: 250ms all;
			outline: none;

			border: none;
			width: 40px;
			height: 40px;
		}
	}
}

.container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-wrap: wrap;
	gap: 5px;
	position: relative;
}
